/*
.time-tracker-menu-bottom-pane, .time-tracker-menu-top-pane{
    padding: 0px 20px 0px 20px;
}

.time-tracker-refresh-btn, .time-tracker-browser-btn, .time-tracker-settings-btn{
    padding: 3px;
}
*/

.time-tracker-active-issue{
    padding-top: 8px;
}

.time-tracker-active-project{
    text-decoration: underline;
}

.time-tracker-arrow-project-btn{
    padding-right: 5px;
    padding-left: 0px;
}

.time-tracker-message {
    font-size: 55px;
    font-weight: bold;
    color: #ffffff;
    background-color: #222;
    padding: .6em;
}