.time-tracker-project-btn{
    font-weight: bold;
}

.time-tracker-active-issue{
    padding-top: 8px;
}

.time-tracker-message {
    font-size: 55px;
    font-weight: bold;
    color: #ffffff;
    background-color: #222;
    padding: .6em;
}

.time-tracker-activity-entry{
}